# Hw 1. Please complete the following activity and submit the notebook in LMS (learning management system). This homework is due by the end of week 3, to allow time for selecting your team and topic of the final project.

### Q1 (.5 point) Why we need Python virtual environments?

Please write no more than 3 lines.

Virtual Enviroments allow users to only use the packages (and the package versions) they need for their project which eliminates the chance for there to be global installation and package collision errors. Virtual Environments also allow users to share their code with others seamlessly.

### Q2 (.5 point) Sort the following list in place alphabetically using last three characters.

In [5]:
continentsL = ['Europe', 'Africa', 'America', 'Antarctica', 'Asia', 'Australia']
# Write you code in the next line
continentsL.sort(key=lambda x: x[-3:])
print(continentsL)

['Africa', 'America', 'Antarctica', 'Australia', 'Europe', 'Asia']

### Q3 (1=.5+.5 points) We want to compare random integer generation time in numpy and random module of "plain" python. Generate 100 random integers in the range 1 to 10 including 1 and 10. Write jupyter notebook line magic to compare execution time of random integer generation in the following cells (look for the cells having the comment *write line magic*).  Line magic must execute the given statement  10 times in a loop and repeat the process 5 times.

 
 Hints:

 - Note that numpy.random has randint function and random has random.randint function.
 - Press shift+tab after typing above function or search their documentation to understand their parameters.
 - use ? on magic command timeit for further documentation. see how to use **-n and -r options**.

In [8]:
import random
num_sample = 100
low = 1
high = 10

In [9]:
# write line magic for random module in the next line
%timeit [random.randint(low, high) for i in range(num_sample)]

63.7 µs ± 1.65 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [10]:
import numpy as np

In [11]:
# write line magic for numpy randint in the next line
%timeit [np.random.randint(low,high+1) for i in range(num_sample)]

216 µs ± 5.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

### To start working toward final project, complete the following questions by writing markdown in the same cell in next line. Each question in worth .5 point.

In this course, __*we are concerned with data cleaning, feature engineering and exploratory analysis. Make sure your selected final project allows for lots of data cleaning, transformation and engineering opportunity.*__ 

Go over the project and presentation rubric one the course webpage to better understand the requirement for the project.  We will evaluate the answer to see if it meets the final project requirements.



<font color = "red" size = "5">If you are working in a team, we'll read only one team member notebook for the following questions. Please make sure you have identical answers for following questions.  </font>

<font color ="red"> To edit a markdown cell you need to double click in the cell</font>

### Q4 List your team members in bullet format. (No more than 3 members).
Note that

- **Each member** has to present a portion of the project in the final presentation.

-  Final report must list the contribution of each member.

- Sammantha Firestone
- Jacquelyn Noyes

### Q5  What  problem you are trying to solve?

We are trying to understand the increase in housing prices throughout the years in relation to the lack of increase of median salary. In other words, we are trying to understand the impact of increasing housing prices on the younger generations.

### Q6 Describe the attributes of the dataset. If you are planning to collect the data (webscrapping, web API etc.), list the timeline to finish the data collection.

Average Household Price by Region ([Zillow Data](https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_month.csv?t=1664126527))
RegionID, SizeRank, RegionName, RegionType, StateName, Price by <Month-Day-Year>... from 1996 to 2022

Average Household Price Prediction by Region ([Zillow Data](https://files.zillowstatic.com/research/public_csvs/zhvf_growth/Metro_zhvf_growth_uc_sfrcondo_tier_0.33_0.67_month.csv?t=1664126527))
RegionID, SizeRank, RegionName, RegionType, StateName, Percent Change by <Month-Day-Year>... from 1996 to 2022

Median Income of Household by State ([Census.gov](https://www2.census.gov/programs-surveys/cps/tables/time-series/historical-income-households/h08.xlsx)):
State, Year, Median Income, Standard Error

### Q7 Give example of records (sample points). Explain why this is a noisy data set (highlight  portion of records, attributes or features you think are noisy).

In [2]:
import pandas as pd
housing_sample = !curl https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_month.csv?t=1664126527
#sample data below of housing data
df = pd.DataFrame(data=sample)[0].str.split(',',expand=True)
df.iloc[67:71,0::]

,0,1,2,3,4,5,6,7,8,9,...,316,317,318,319,320,321,322,323,324,325
67,394308,63,"""Albany","NY""",msa,NY,107391.37121320948,106150.69360726779,105876.00567824137,105732.74339904939,...,257406.03962321286,257898.3862646319,259262.20513070945,260147.51742990842,265363.25473990425,270697.74194469134,273623.6509411889,275277.37434015836,278100.9554694897,281534.1468343149
68,394753,64,"""Knoxville","TN""",msa,TN,92400.12296559464,92602.59885145363,93010.56442606643,93387.15746141561,...,272395.8393002889,281001.6844504961,284719.3816594263,293262.0287600895,296125.49282928155,305281.20619903965,311018.8955521313,316638.48281008605,316236.044868201,319177.70882197085
69,394843,65,"""McAllen","TX""",msa,TX,,,,,...,154230.02346150216,156364.6441785355,158578.11005786317,160472.22751132835,163768.75720995982,165908.57843410887,169144.5707783635,172553.51519174836,174287.5856084892,177183.60118841383
70,394367,66,"""Baton Rouge","LA""",msa,LA,,,,,...,217163.74765471256,220073.03574314888,221854.4223859475,225563.25264958863,229613.48758961353,232538.91540301303,234858.43977567347,236771.9822679133,237245.26116338072,237986.65605350139

For the Average Household Price by Region, many of the column values (Price by Date) are NAN values (see above). 
Also, we need the Median Housing price per year, as it correlates to our Median Income of Household data, rather than month. 
We should then combine all region data into state, so we can compare this average price data to Median Income of Household that is provided by state.

### Q8 What kind of  feature engineering opportunity you see.

We'll cover feature engineering but here are some examples to get an idea of feature engineering.
- Do you need to extract a number, year, or a word in column (attribute of a record).
    + Perhaps extracting Miss, Mr., Dr. is more important than actual name?
    + Maybe year or time is embbedded in the text desciption and it is important for analysis. 
- If a column has numerical values do you see a potential for using these values or a transformation of these values like square, log etc?
- Does it make sense to combine multiple features into a single feature?

We need to do the following--
- Import all three data sets and clean files (if we curl we will have to fix column names and re-align the data into a structured DF).
- Combine the price of houses in each month into a yearly value (for both Zillow data files). 
- Combine regions into a singular state for easier comparison with median income by state (for both Zillow data files). 
- Determine the home price to income ratio per year and state.